.venv
__pycache__
*.pyc   
*.pyo
.env
.venv\*
.venv/Lib/site-packages/_cffi_backend.cp311-win_amd64.pyd
.chainlit/translations/bn.json
.chainlit/translations/en-US.json
.chainlit/translations/gu.json
.chainlit/translations/he-IL.json
.chainlit/translations/hi.json
.chainlit/translations/ja.json
.chainlit/translations/kn.json
.chainlit/translations/ml.json
.chainlit/translations/mr.json
.chainlit/translations/nl-NL.json
.chainlit/translations/ta.json
.chainlit/translations/te.json
.chainlit/translations/zh-CN.json
statusreportscrew/.chainlit/config.toml
statusreportscrew/.chainlit/translations/bn.json
statusreportscrew/.chainlit/translations/en-US.json
statusreportscrew/.chainlit/translations/gu.json
statusreportscrew/.chainlit/translations/he-IL.json
statusreportscrew/.chainlit/translations/hi.json
statusreportscrew/.chainlit/translations/ja.json
statusreportscrew/.chainlit/translations/kn.json
statusreportscrew/.chainlit/translations/ml.json
statusreportscrew/.chainlit/translations/mr.json
statusreportscrew/.chainlit/translations/nl-NL.json
statusreportscrew/.chainlit/translations/ta.json
statusreportscrew/.chainlit/translations/te.json
statusreportscrew/.chainlit/translations/zh-CN.json
